{%- set ns = namespace(first_frame=true) -%}

{%- macro enum_name(bus, msg, msg_name=msg.name) -%}
    {%- if msg.frame is defined -%}
        {% for sub_frame in msg.frame -%}
            {{ enum_name(bus, sub_frame, msg_name + '_' + sub_frame.name) }}
        {%- endfor -%}
    {%- else %}
        {{ msg_name }}{%- if ns.first_frame %} = 2
        {%- set ns.first_frame = false -%}
      {%- endif -%},
    {%- endif -%}
{%- endmacro -%}
#pragma once

#include "static.h"

#define CANlib_UNKNOWN_MSG 0

namespace CANlib {

{% for bus in can.bus %}
    namespace {{bus.name}} {
        {%- set ns.first_frame = true %}
        typedef enum {
            {%- for msg in bus.frame -%}
                {{- enum_name(bus, msg) }}
            {%- endfor %}
        } Frame_T;

        Frame_T Identify(const Frame& frame);
    } // {{bus.name}}
{% endfor -%}

} // CANlib
