#pragma once

#include "static.h"
#include "stm32f4xx_hal.h"
#include "bus.h"

#include <stdint.h>

namespace CANlib {

typedef enum {
{%- for bus in architecture.participation['name']['can'].buses -%}
{%- if bus == 'INVALID_BUS' -%}
  {%- raise "INVALID_BUS is a reserved bus name" -%}
{%- endif %}
  {{ bus }},
{%- endfor %}
	INVALID_BUS
} CAN_Raw_Bus_T;

typedef uint32_t Time_T; // in ms
typedef HAL_StatusTypeDef Transmit_Error_T;
typedef HAL_StatusTypeDef Init_Error_T;

Transmit_Error_T TransmitFrame(Frame& frame, Bus_T::Bus_Names_T bus);
void ReadFrame(Frame& frame, Bus_T::Bus_Names_T bus);
Time_T GetTick(void);

} // CANlib
